body {
  background-color: #ffff;
  color: #666;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.75em;
}

.wrap-primary-plan {
  background-image: url("images/javascript-developer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 35%;
  min-height: 375px;
}

.Header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 5%;
}
.home-profile-img {
  width: 13%;
  display: flex;
  padding-right: 27%;
}

.home-profile-img img {
  width: 100%;
  border-radius: 10px;
  border: solid 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 5px rgba(0 0 0 / 50%);
  margin-top: 10px;
  display: flex;
  margin: 50px 0px 0px;
  vertical-align: middle;
}

header h1 {
  text-shadow: 0 1px 2px rgba(0 0 0 / 75%);
  font-size: 3em;
  text-align: center;
  color: #bcb8b1;
  font-family: "Lato", sans-serif;
  border-bottom: 0ch;
  margin: 20px 0px 17px;
}

header h2 {
  text-shadow: 0 1px 2px rgba(0 0 0 / 75%);
  font-size: 1.7em;
  text-align: center;
  color: #09a6f3;
  border-top: 0ch;
  display: flex;
  margin: 20px 0px 17px;
}

.col-md-8 {
  position: relative;
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 1px;
  padding-top: 50px;
}

.profile-header-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btn {
  font-weight: 900;
  display: inline-block;
  touch-action: manipulation;
  white-space: nowrap;
}

.profile-header-btns .btn {
  padding: 0 20px;
  margin: 10px;
}

.btn-ar {
  border-radius: 2px;
  font-size: 17px;
}

.btn-ar.btn-info {
  color: #ffff;
  background: linear-gradient(to bottom, #54c8eb 5%, #2fbce7 100%);
  background-color: #54c8eb;
  border: #34bee7;
}

.btn-ar.btn-primary {
  color: #ffff;
  background: linear-gradient(to bottom, #800080 5%, #db00b6 100%);
  background-color: #800080;
  border: #db00b6;
}

section {
  display: block;
}

.info-card {
  border-radius: 15px;
  margin: 0px 38px 38px;
}

.accent-border {
  border: #a60124;
  border-radius: 15px;
}

.info-title {
  color: #000000;
  text-align: center;
  font-size: 3em;
  font-family: sans-serif;
  background-color: #007ddb;
}

.info-text {
  color: #000000;
}

/*-------------------- Media Breakpoints --------------------*/
/*--- Tablet ---*/
@media all and (min-width: 768px) {
  body {
    font-size: 1.75vw;
  }
  h2 {
    font-size: 4vw;
    padding: 0.2rem;
  }
  p {
    margin: 0.75rem;
  }
}

/*--- Desktop ---*/
@media all and (min-width: 1024px) {
  body {
    font-size: 1.4vw;
  }
  h2 {
    font-size: 3vw;
  }
  .flex-double {
    flex: 2;
  }
}
/* --- Phones ---*/

  /* Portrait */
  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

  }
    /* Landscape */
  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}